.profile {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 200px;
    background-color: var(--color-800);
    padding: 10px 15px;
    height: fit-content !important;
    border-radius: 10px;
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: var(--color-900);
    border: 3px solid var(--color-1000);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
}

.username {
    margin-bottom: 25px !important;
    font-weight: bold;
}

.identification {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 6px;
}