<mat-toolbar *ngIf="general.user" class="toolbar-top">
    <!-- <button class="button-default">
        <svg height="32px" [style.fill]="'white'" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
    </button> -->
    <div *ngIf="hideBackBtn" style="width: 32px"></div>
    <div *ngIf="!hideBackBtn" style="width: 32px; display: flex; align-items: center; cursor: pointer;" (click)="onBackPage()">
        <img [ngClass]="['ic-previous-toolbar', 'icon-big']"/>
    </div>

    <!-- <span fxFlex style="display: flex; justify-content: center;">UNIDEV</span> -->
    <div fxFlex style="display: flex; justify-content: center;">
        <img src="../../../assets/icons/ic_unidev_white.png" height="32px">
    </div>
    
    <button *ngIf="general?.theme === 'dark'" class="button-default" (click)="changeTheme('light')">
        <svg id="moon" [style.fill]="'white'" height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/></svg>
    </button>
    <button *ngIf="general?.theme === 'light'" class="button-default" (click)="changeTheme('dark')">
        <svg id="moon" [style.fill]="'white'" [style.stroke]="'white'" height="32" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="5"/><line x1="12" x2="12" y1="1" y2="3"/><line x1="12" x2="12" y1="21" y2="23"/><line x1="4.22" x2="5.64" y1="4.22" y2="5.64"/><line x1="18.36" x2="19.78" y1="18.36" y2="19.78"/><line x1="1" x2="3" y1="12" y2="12"/><line x1="21" x2="23" y1="12" y2="12"/><line x1="4.22" x2="5.64" y1="19.78" y2="18.36"/><line x1="18.36" x2="19.78" y1="5.64" y2="4.22"/></svg>
    </button>
    <div style="width: 32px; display: flex; align-items: center; cursor: pointer; margin-left: 5px;" (click)="onLogout()">
        <img style="margin-bottom: 2px;" [ngClass]="['ic-logout', 'icon-medium']"/>
    </div>
</mat-toolbar>
<router-outlet *ngIf="general.user"></router-outlet>

<app-login *ngIf="!general.user"></app-login>